@model PagedList.IPagedList<HelpDeskMVC.Models.Ticket>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tickets";
}

<h3>Dashboard</h3>
<br />



<p>
    <input type="button" value="New Ticket" class="btn-sm btn-success" onclick="location.href='@Url.Action("Create", "Home")'" />
</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by Creator or Ticket #: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn-sm btn-default"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("#", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Summary
        </th>
        <th>
            @Html.ActionLink("Creator", "Index", new { sortOrder = ViewBag.CreatorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.PrioritySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Closed Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>

            @if(item.TicketPriority.ToString() == "High")
            {
                <td class="bg-danger">                    
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
            }
            else if(item.TicketPriority.ToString() == "Low")

            {
                <td class="bg-info">                    
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
            }

            else
            {
                <td class="bg-warning">                    
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
            <td>
                <input type="button" value="Details" class="btn-xs btn-default" onclick="location.href='@Url.Action("Details", "Home", new {id = item.TicketGuid })'" />
                <input type="button" value="Close" class="btn-xs btn-primary" onclick="location.href='@Url.Action("Close", "Home", new {id = item.TicketGuid })'"/>
            </td>
        </tr>
        
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
